.idea/*
.idea/**
!.idea/runConfigurations/
.idea/runConfigurations/*
!.idea/runConfigurations/JS2PHP_to_Elephize.xml
!.idea/encodings.xml # per-file/directory encoding settings
!docker/*
docker/**
uploads